
  <%= render 'shared/errors', obj: @reply if @reply %>
<div class="jumbotron">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= simple_format(@article.description) %></p>
  <% if @article.anexo.attached? %>
      <figure class="figure" style="width:300px; heigth:300px;">
        <%= image_tag(@article.anexo, class:"figure-img img-fluid rounded", alt:"...", style:"margin-left:120px" ) %>
      </figure>
  <%end %>
  <hr class="my-4">
  <% if @article.user %>
    <% @article.user.build_user_profile if @article.user.user_profile.blank?  %>
    <p>
    	<small> <%= link_to @article.user.email, userarticles_path(user_id: @article.user_id, email: @article.user.email, name: article_user_name(@article) ) %> </small>
			<small> <%= "(#{pluralize(@article.user.articles.count, "article") if @article.user.articles})" %></small>
    </p>  
  <% end %>
  <div class="article-actions">
    <%= link_to "Back", articles_path, class: "btn  btn-success" %>
    <% if current_user == @article.user %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-danger" %>
    <% end %>
    <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal1">
       Reply
      </button>
 </div>
</div>


<% @article.replies.each do |reply| %>
  <div class="jumbotron mx-auto" style="padding: 5px; background-color: #F2F2F2; border: 1px solid #E6E6E6; width: 90%;">
    <div class="container">
      <p><%= reply.user.user_profile.name %> <small class="ml-5"> last updated: <%= time_ago_in_words(reply.updated_at) %> ago</small></p>    
      <p class="lead"><%= reply.description %></p>
        <% if current_user == reply.user %>
            <!-- Button trigger modal -->
            <%= link_to 'Edit', '#',  class:"btn btn-sm btn-primary", "data-toggle":"modal", "data-target":"#modal2" %>
            <%= link_to 'Delete',reply_path(reply), method: :delete, data: {confirm: "Are you sure?"} , class:"btn btn-danger btn-sm" %>
        <% end %>
    </div>
  </div>

  <!-- Modal 2-->
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with(model: reply, local: true) do |f| %>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: "form-control", placeholder: "Body of reply" %>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit class: 'btn btn-primary btn-large' %>        
          <%end %>  
        </div>
        
      </div>
    </div>
  </div>
  <!-- / Modal 2-->

<%end %>




<!-- Modal 1-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: replies_path, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", placeholder: "Body of reply" %>
          </div>
           <%= f.hidden_field :user_id, value:current_user.id %> 
           <%= f.hidden_field :article_id, value:@article.id %> 
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-primary btn-large' %>        
        <%end %>  
      </div>
      
    </div>
  </div>
</div>
<!-- / Modal 1-->


