
<% obj.each do |article| %>
 <% article.user.build_user_profile if article.user.user_profile.blank?  %>
    <div class="card w-75 mx-auto mb-3" >
        <div class="card-body">
            <h5><%= link_to article.title.capitalize, article_path(article), class:"card-title" %> </h5>
            <p class="card-text"> <%= truncate(article.description.capitalize, length: 100) %> </p>
            <div class="article-meta-details d-flex mb-1">
                <small>Criado por: <%= article_user_name(article) %>, <%= time_ago_in_words(article.created_at) %> atrás. Atualizado em: <%= time_ago_in_words(article.updated_at) %> atrás</small> 
                <small class="smallreply" style="color:#87CEFA"><%= "#{article.replies.count} #{reply?(article.replies.count)}" %></small> 
            </div>
            <% if current_user == article.user %>
                <%= link_to 'Edit', edit_article_path(article), class:"btn btn-primary btn-sm" %>
                <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} , class:"btn btn-danger btn-sm" %>
            <% end %>
        </div>
    </div>
<% end %>


