<!--
<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h2> 
      <%= pluralize(obj.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
      <ul>
          <% obj.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
          <% end %>
      </ul>  
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
-->

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'jquery.bootstrap-growl' %>

<% unless obj.errors.empty? %>
  <% obj.errors.full_messages.each do |erro| %>
      <script>
          $.bootstrapGrowl('<%= erro %>', {
          type: 'danger', // (null, 'info', 'danger', 'success')
          align: 'center', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
      </script>
  <% end %>
<% end %>